body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Cambria, Georgia, serif;
  color: #ffffff;
}

body {
  background-color: #7cfe7c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.screen-top {
  background-color: #3a7fff;
  width: 90vw;
  /* min-height: 90vh; */
  min-height: 10vh;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.screen-top {
  margin-top: 25px;
  background-color: #006d2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4vmin;
  color: white;
}

.question-section, .text-section {
  width: 100%;
  position: relative;
}

.question-text, .solution-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

.answer-section, .info-listings-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  min-width: 15%;
  font-size: 3vmin;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 25px;
  display: flex;
  padding: 15px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}